body {
  /* background: url("../img/burgerBg.jpg") fixed; */
  text-align: center;
}

.row {
  border: 2px, solid, hotpink;
}

footer {
  text-align: center;
  margin-top: 1rem;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul, li {
  padding: 0;
  margin: 0;
}

#bgr {
  padding: .5rem;
  margin: .5rem;
  border-radius: .5rem;
}

.create-form {
  padding: 0;
  margin: 0;
}

/* .demo_wrap {
  background: url("../img/burgerBg.jpg") fixed;
  opacity: 0.2;
} */
  
.form-group {
  margin: .5rem;
}

.label {
  font-weight: bold;
  margin: 1rem;
}

button {
  border-radius: .5rem;
}